.features {
  display: flex;
  align-items: center;
  padding: 2rem 0;
  width: 100%;
  background-color: var(--ifm-background-color-primary);
}

.featureSvg {
  width: 10%;
  height: auto;
  fill: var(--ifm-color-primary-brighter);
}

.light-mode {
  display: none;
}

.dark-mode {
  display: none;
}

h1 {
  color: var(--ifm-color-foreground-brightest);
  font-size: 36px;
}

h2 {
  color: var(--ifm-color-foreground-brightest);
  font-size: 28px;
}

h4 {
  color: var(--ifm-color-foreground-brighter);
  font-size: 24px;
}

ul {
  text-align: left; /* Align text to the left */
  padding-left: 20px; /* Add padding for list indentation */
  margin: 10px; /* Add spacing around the list */
  margin-bottom: 50px;
  color: var(--ifm-color-foreground-bright);
}

li {
  margin-bottom: 5px; /* Add spacing between list items */
  font-size: 20px;
}

hr {
  background-color: var(--ifm-color-foreground);
}

.hero__subtitle {
  color: var(--ifm-color-foreground);
}
