.features {
  display: flex;
  align-items: center;
  padding: 2rem 0;
  width: 100%;
  background-color: var(--ifm-background-color-primary);
}

.featureSvg {
  width: 30%;
  height: auto;
  fill: var(--ifm-color-primary-brighter);
}

.light-mode {
  display: none;
}

.dark-mode {
  display: none;
}

strong {
  font-weight: bold;
}

h1 {
  color: var(--ifm-color-foreground-brightest)
}

h2 {
  color: var(--ifm-color-foreground-brightest)
}

h4 {
  color: var(--ifm-color-foreground-brighter)
}

ul {
  text-align: left; /* Align text to the left */
  padding-left: 20px; /* Add padding for list indentation */
  margin: 10px 0; /* Add spacing around the list */
  color: var(--ifm-color-foreground-bright)
}

li {
  margin-bottom: 5px; /* Add spacing between list items */
}

hr {
  background-color: var(--ifm-color-foreground);
}

.hero__subtitle {
  color: var(--ifm-color-foreground);
}